In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

# Random seed for reproducibility
np.random.seed(42)

# Məhsul adları
product_names = [f"Product_{i+1}" for i in range(30)]

# Paired test üçün qiymətlər (Müalicədən əvvəlki və sonra)
pre_treatment_prices = np.random.normal(loc=100, scale=10, size=30)  # Müalicədən əvvəlki qiymətlər
post_treatment_prices = pre_treatment_prices + np.random.normal(loc=5, scale=5, size=30)  # Müalicədən sonrakı qiymətlər

# Independent test üçün qiymətlər
group1_prices = np.random.normal(loc=95, scale=10, size=30)  # Qrup 1 qiymətləri
group2_prices = np.random.normal(loc=110, scale=10, size=30)  # Qrup 2 qiymətləri

# DataFrame yaratma
paired_df = pd.DataFrame({
    'Product': product_names,
    'Pre_Treatment_Price': pre_treatment_prices,
    'Post_Treatment_Price': post_treatment_prices
})

independent_df = pd.DataFrame({
    'Product': product_names[:30],
    'Group1_Price': group1_prices,
    'Group2_Price': group2_prices
})

# Paired t-test
paired_t_stat, paired_p_value = stats.ttest_rel(pre_treatment_prices, post_treatment_prices)

# Independent t-test
independent_t_stat, independent_p_value = stats.ttest_ind(group1_prices, group2_prices)

# Nəticələri çap edək
print("Paired t-test üçün DataFrame:")
print(paired_df.head())  # İlk 5 sətri göstər

print("\nIndependent t-test üçün DataFrame:")
print(independent_df.head())  # İlk 5 sətri göstər

# Test nəticələrini çap edək
print("\nPaired t-test nəticələri:")
print("t-statistic:", paired_t_stat)
print("p-value:", paired_p_value)

print("\nIndependent t-test nəticələri:")
print("t-statistic:", independent_t_stat)
print("p-value:", independent_p_value)

Paired t-test üçün DataFrame:
     Product  Pre_Treatment_Price  Post_Treatment_Price
0  Product_1           104.967142            106.958608
1  Product_2            98.617357            112.878748
2  Product_3           106.476885            111.409399
3  Product_4           115.230299            114.941744
4  Product_5            97.658466            106.771191

Independent t-test üçün DataFrame:
     Product  Group1_Price  Group2_Price
0  Product_1     90.208258    110.970775
1  Product_2     93.143410    119.686450
2  Product_3     83.936650    102.979469
3  Product_4     83.037934    106.723379
4  Product_5    103.125258    106.078918

Paired t-test nəticələri:
t-statistic: -5.169777716423581
p-value: 1.5823343932441843e-05

Independent t-test nəticələri:
t-statistic: -5.971900399571699
p-value: 1.5163470271517255e-07

In [2]:
paired_df.head()

     Product  Pre_Treatment_Price  Post_Treatment_Price
0  Product_1           104.967142            106.958608
1  Product_2            98.617357            112.878748
2  Product_3           106.476885            111.409399
3  Product_4           115.230299            114.941744
4  Product_5            97.658466            106.771191

In [3]:
independent_df.head()

     Product  Group1_Price  Group2_Price
0  Product_1     90.208258    110.970775
1  Product_2     93.143410    119.686450
2  Product_3     83.936650    102.979469
3  Product_4     83.037934    106.723379
4  Product_5    103.125258    106.078918

In [4]:
# Paired t-test
paired_t_stat, paired_p_value = stats.ttest_rel(pre_treatment_prices, post_treatment_prices)

# Independent t-test
independent_t_stat, independent_p_value = stats.ttest_ind(group1_prices, group2_prices)


# Test nəticələrini çap edək
print("\nPaired t-test nəticələri:")
print("t-statistic:", f'{paired_t_stat:.10f}')
print("p-value:", f'{paired_p_value:.10f}')

print("\nIndependent t-test nəticələri:")
print("t-statistic:", f'{independent_t_stat:.10f}')
print("p-value:", f'{independent_p_value:.10f}')

Paired t-test nəticələri:
t-statistic: -5.1697777164
p-value: 0.0000158233

Independent t-test nəticələri:
t-statistic: -5.9719003996
p-value: 0.0000001516