In [60]:
import pandas as pd

In [61]:
data = pd.read_csv(r'C:\Users\dell\Desktop\Python\Career\bina_az_50_page_raw.csv')
data

                  Location      Room    Area          Floor    Price
0     Nəriman Nərimanov m.  3 otaqlı  105 m²    5/8 mərtəbə  280 000
1     Nəriman Nərimanov m.  3 otaqlı  138 m²  15/20 mərtəbə  258 000
2     Nəriman Nərimanov m.  3 otaqlı   75 m²    4/4 mərtəbə  199 000
3     Nəriman Nərimanov m.  2 otaqlı   50 m²    9/9 mərtəbə  140 000
4     Nəriman Nərimanov m.  3 otaqlı   70 m²  14/14 mərtəbə  160 000
...                    ...       ...     ...            ...      ...
1675  Azadlıq Prospekti m.  2 otaqlı   74 m²   7/17 mərtəbə  173 000
1676  Azadlıq Prospekti m.  3 otaqlı   95 m²    5/9 mərtəbə  205 000
1677  Azadlıq Prospekti m.  3 otaqlı  100 m²  15/17 mərtəbə  288 000
1678  Azadlıq Prospekti m.  1 otaqlı   43 m²    3/9 mərtəbə  130 000
1679  Azadlıq Prospekti m.  2 otaqlı   45 m²    5/5 mərtəbə   84 000

[1680 rows x 5 columns]

In [62]:
import copy
df = copy.deepcopy(data)
df

                  Location      Room    Area          Floor    Price
0     Nəriman Nərimanov m.  3 otaqlı  105 m²    5/8 mərtəbə  280 000
1     Nəriman Nərimanov m.  3 otaqlı  138 m²  15/20 mərtəbə  258 000
2     Nəriman Nərimanov m.  3 otaqlı   75 m²    4/4 mərtəbə  199 000
3     Nəriman Nərimanov m.  2 otaqlı   50 m²    9/9 mərtəbə  140 000
4     Nəriman Nərimanov m.  3 otaqlı   70 m²  14/14 mərtəbə  160 000
...                    ...       ...     ...            ...      ...
1675  Azadlıq Prospekti m.  2 otaqlı   74 m²   7/17 mərtəbə  173 000
1676  Azadlıq Prospekti m.  3 otaqlı   95 m²    5/9 mərtəbə  205 000
1677  Azadlıq Prospekti m.  3 otaqlı  100 m²  15/17 mərtəbə  288 000
1678  Azadlıq Prospekti m.  1 otaqlı   43 m²    3/9 mərtəbə  130 000
1679  Azadlıq Prospekti m.  2 otaqlı   45 m²    5/5 mərtəbə   84 000

[1680 rows x 5 columns]

## 1. Fix the columns

In [63]:
df.columns = df.columns.str.lower()
df.columns

Index(['location', 'room', 'area', 'floor', 'price'], dtype='object')

### 2. Check the Data Type

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  1680 non-null   object
 1   room      1680 non-null   object
 2   area      1680 non-null   object
 3   floor     1680 non-null   object
 4   price     1680 non-null   object
dtypes: object(5)
memory usage: 65.8+ KB

### location column problems

In [65]:
df[['location']].value_counts()

location
Qara Qarayev m.         316
Nəriman Nərimanov m.    306
Azadlıq Prospekti m.    271
Gənclik m.              253
Neftçilər m.            237
20 Yanvar m.            175
8 Noyabr m.              42
Memar Əcəmi m.           41
İnşaatçılar m.           22
Xalqlar Dostluğu m.       7
Nəsimi m.                 6
Bakmil m.                 2
Dərnəgül m.               2
Name: count, dtype: int64

In [66]:
df['location'].unique()

array(['Nəriman Nərimanov m.', 'Gənclik m.', 'Bakmil m.', 'Neftçilər m.',
       'Qara Qarayev m.', 'Xalqlar Dostluğu m.', '8 Noyabr m.',
       '20 Yanvar m.', 'Memar Əcəmi m.', 'İnşaatçılar m.',
       'Azadlıq Prospekti m.', 'Dərnəgül m.', 'Nəsimi m.'], dtype=object)

In [67]:
filtered_data = df[df['location'].str.contains('Nəriman|Gənclik|Qara|Neftçilər|20 Yanvar|Azadlıq', 
                                                                                           case=False, na=False)]

In [68]:
filtered_data[['location']].value_counts()

location
Qara Qarayev m.         316
Nəriman Nərimanov m.    306
Azadlıq Prospekti m.    271
Gənclik m.              253
Neftçilər m.            237
20 Yanvar m.            175
Name: count, dtype: int64

### area column problems

In [69]:
filtered_data

                  location      room    area          floor    price
0     Nəriman Nərimanov m.  3 otaqlı  105 m²    5/8 mərtəbə  280 000
1     Nəriman Nərimanov m.  3 otaqlı  138 m²  15/20 mərtəbə  258 000
2     Nəriman Nərimanov m.  3 otaqlı   75 m²    4/4 mərtəbə  199 000
3     Nəriman Nərimanov m.  2 otaqlı   50 m²    9/9 mərtəbə  140 000
4     Nəriman Nərimanov m.  3 otaqlı   70 m²  14/14 mərtəbə  160 000
...                    ...       ...     ...            ...      ...
1675  Azadlıq Prospekti m.  2 otaqlı   74 m²   7/17 mərtəbə  173 000
1676  Azadlıq Prospekti m.  3 otaqlı   95 m²    5/9 mərtəbə  205 000
1677  Azadlıq Prospekti m.  3 otaqlı  100 m²  15/17 mərtəbə  288 000
1678  Azadlıq Prospekti m.  1 otaqlı   43 m²    3/9 mərtəbə  130 000
1679  Azadlıq Prospekti m.  2 otaqlı   45 m²    5/5 mərtəbə   84 000

[1558 rows x 5 columns]

In [70]:
pd.options.display.float_format = '{:,.1f}'.format
filtered_data.loc[:, 'area'] = filtered_data.area.map(lambda x: x.replace(' m\u00b2', ''))

In [71]:
filtered_data.area = filtered_data.area.astype('float')

C:\Users\dell\AppData\Local\Temp\ipykernel_9484\815771860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data.area = filtered_data.area.astype('float')

In [72]:
filtered_data

                  location      room  area          floor    price
0     Nəriman Nərimanov m.  3 otaqlı 105.0    5/8 mərtəbə  280 000
1     Nəriman Nərimanov m.  3 otaqlı 138.0  15/20 mərtəbə  258 000
2     Nəriman Nərimanov m.  3 otaqlı  75.0    4/4 mərtəbə  199 000
3     Nəriman Nərimanov m.  2 otaqlı  50.0    9/9 mərtəbə  140 000
4     Nəriman Nərimanov m.  3 otaqlı  70.0  14/14 mərtəbə  160 000
...                    ...       ...   ...            ...      ...
1675  Azadlıq Prospekti m.  2 otaqlı  74.0   7/17 mərtəbə  173 000
1676  Azadlıq Prospekti m.  3 otaqlı  95.0    5/9 mərtəbə  205 000
1677  Azadlıq Prospekti m.  3 otaqlı 100.0  15/17 mərtəbə  288 000
1678  Azadlıq Prospekti m.  1 otaqlı  43.0    3/9 mərtəbə  130 000
1679  Azadlıq Prospekti m.  2 otaqlı  45.0    5/5 mərtəbə   84 000

[1558 rows x 5 columns]

In [73]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1558 entries, 0 to 1679
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  1558 non-null   object
 1   room      1558 non-null   object
 2   area      1558 non-null   float64
 3   floor     1558 non-null   object
 4   price     1558 non-null   object
dtypes: float64(1), object(4)
memory usage: 73.0+ KB

### floor column problems

In [74]:
filtered_data

                  location      room  area          floor    price
0     Nəriman Nərimanov m.  3 otaqlı 105.0    5/8 mərtəbə  280 000
1     Nəriman Nərimanov m.  3 otaqlı 138.0  15/20 mərtəbə  258 000
2     Nəriman Nərimanov m.  3 otaqlı  75.0    4/4 mərtəbə  199 000
3     Nəriman Nərimanov m.  2 otaqlı  50.0    9/9 mərtəbə  140 000
4     Nəriman Nərimanov m.  3 otaqlı  70.0  14/14 mərtəbə  160 000
...                    ...       ...   ...            ...      ...
1675  Azadlıq Prospekti m.  2 otaqlı  74.0   7/17 mərtəbə  173 000
1676  Azadlıq Prospekti m.  3 otaqlı  95.0    5/9 mərtəbə  205 000
1677  Azadlıq Prospekti m.  3 otaqlı 100.0  15/17 mərtəbə  288 000
1678  Azadlıq Prospekti m.  1 otaqlı  43.0    3/9 mərtəbə  130 000
1679  Azadlıq Prospekti m.  2 otaqlı  45.0    5/5 mərtəbə   84 000

[1558 rows x 5 columns]

In [75]:
import re
filtered_data.loc[:, 'floor'] = filtered_data['floor'].apply(lambda x: re.match(r'(\d+)', x).group(1))

In [76]:
filtered_data.floor = filtered_data['floor'].astype('int')

C:\Users\dell\AppData\Local\Temp\ipykernel_9484\3448721813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data.floor = filtered_data['floor'].astype('int')

In [77]:
filtered_data

                  location      room  area  floor    price
0     Nəriman Nərimanov m.  3 otaqlı 105.0      5  280 000
1     Nəriman Nərimanov m.  3 otaqlı 138.0     15  258 000
2     Nəriman Nərimanov m.  3 otaqlı  75.0      4  199 000
3     Nəriman Nərimanov m.  2 otaqlı  50.0      9  140 000
4     Nəriman Nərimanov m.  3 otaqlı  70.0     14  160 000
...                    ...       ...   ...    ...      ...
1675  Azadlıq Prospekti m.  2 otaqlı  74.0      7  173 000
1676  Azadlıq Prospekti m.  3 otaqlı  95.0      5  205 000
1677  Azadlıq Prospekti m.  3 otaqlı 100.0     15  288 000
1678  Azadlıq Prospekti m.  1 otaqlı  43.0      3  130 000
1679  Azadlıq Prospekti m.  2 otaqlı  45.0      5   84 000

[1558 rows x 5 columns]

In [78]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1558 entries, 0 to 1679
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  1558 non-null   object
 1   room      1558 non-null   object
 2   area      1558 non-null   float64
 3   floor     1558 non-null   int32
 4   price     1558 non-null   object
dtypes: float64(1), int32(1), object(3)
memory usage: 66.9+ KB

### price column problems

In [79]:
filtered_data

                  location      room  area  floor    price
0     Nəriman Nərimanov m.  3 otaqlı 105.0      5  280 000
1     Nəriman Nərimanov m.  3 otaqlı 138.0     15  258 000
2     Nəriman Nərimanov m.  3 otaqlı  75.0      4  199 000
3     Nəriman Nərimanov m.  2 otaqlı  50.0      9  140 000
4     Nəriman Nərimanov m.  3 otaqlı  70.0     14  160 000
...                    ...       ...   ...    ...      ...
1675  Azadlıq Prospekti m.  2 otaqlı  74.0      7  173 000
1676  Azadlıq Prospekti m.  3 otaqlı  95.0      5  205 000
1677  Azadlıq Prospekti m.  3 otaqlı 100.0     15  288 000
1678  Azadlıq Prospekti m.  1 otaqlı  43.0      3  130 000
1679  Azadlıq Prospekti m.  2 otaqlı  45.0      5   84 000

[1558 rows x 5 columns]

In [80]:
filtered_data.loc[:, "price"]  = filtered_data.price.apply(lambda x: x.replace(' ', ''))

In [81]:
filtered_data.price = filtered_data.price.astype(int)

C:\Users\dell\AppData\Local\Temp\ipykernel_9484\1179419999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data.price = filtered_data.price.astype(int)

In [82]:
filtered_data

                  location      room  area  floor   price
0     Nəriman Nərimanov m.  3 otaqlı 105.0      5  280000
1     Nəriman Nərimanov m.  3 otaqlı 138.0     15  258000
2     Nəriman Nərimanov m.  3 otaqlı  75.0      4  199000
3     Nəriman Nərimanov m.  2 otaqlı  50.0      9  140000
4     Nəriman Nərimanov m.  3 otaqlı  70.0     14  160000
...                    ...       ...   ...    ...     ...
1675  Azadlıq Prospekti m.  2 otaqlı  74.0      7  173000
1676  Azadlıq Prospekti m.  3 otaqlı  95.0      5  205000
1677  Azadlıq Prospekti m.  3 otaqlı 100.0     15  288000
1678  Azadlıq Prospekti m.  1 otaqlı  43.0      3  130000
1679  Azadlıq Prospekti m.  2 otaqlı  45.0      5   84000

[1558 rows x 5 columns]

In [83]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1558 entries, 0 to 1679
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   location  1558 non-null   object
 1   room      1558 non-null   object
 2   area      1558 non-null   float64
 3   floor     1558 non-null   int32
 4   price     1558 non-null   int32
dtypes: float64(1), int32(2), object(2)
memory usage: 60.9+ KB

### Missing Data

In [84]:
filtered_data.isnull().sum()

location    0
room        0
area        0
floor       0
price       0
dtype: int64

### Save filtered_data

In [86]:
filtered_data

                  location      room  area  floor   price
0     Nəriman Nərimanov m.  3 otaqlı 105.0      5  280000
1     Nəriman Nərimanov m.  3 otaqlı 138.0     15  258000
2     Nəriman Nərimanov m.  3 otaqlı  75.0      4  199000
3     Nəriman Nərimanov m.  2 otaqlı  50.0      9  140000
4     Nəriman Nərimanov m.  3 otaqlı  70.0     14  160000
...                    ...       ...   ...    ...     ...
1675  Azadlıq Prospekti m.  2 otaqlı  74.0      7  173000
1676  Azadlıq Prospekti m.  3 otaqlı  95.0      5  205000
1677  Azadlıq Prospekti m.  3 otaqlı 100.0     15  288000
1678  Azadlıq Prospekti m.  1 otaqlı  43.0      3  130000
1679  Azadlıq Prospekti m.  2 otaqlı  45.0      5   84000

[1558 rows x 5 columns]

In [87]:
filtered_data.to_csv('bina_az_50_page_raw_cleaning_for_Power_BI.csv', index=False)