# Feature Engineering

In [ ]:
import pandas as pd
import numpy as np
# Python code for binarization 
from sklearn.preprocessing import Binarizer  
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'] 
dataframe = pd.read_csv(r"C:\Users\dell\Desktop\Python\week4\day1\pima-indians-diabetes.csv", names=names) 
array = dataframe.values

In [3]:
# Problems:
# 1). outlier
# 2). scaling
# 3). character column
# 4). null value
# 5). outlier
# 6). multicollinearity
# 7). stable column (usless or negative impact)
# 8). Binariz or bins

In [4]:
dataframe

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [5]:
array

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [139]:
def outlier_thresholds(dataframe, col_name, q1=0.25, q3=0.75):
    Q1 = dataframe[col_name].quantile(q1)
    Q3 = dataframe[col_name].quantile(q3)
    IQR = Q3 - Q1
    up_limit = Q3 + 1.5*IQR
    low_limit = Q1 - 1.5*IQR
    return low_limit, up_limit

In [140]:
def grab_outliers(dataframe, col_name, index=True):
    low, up = outlier_thresholds(dataframe, col_name)
    
    if dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)].shape[0] > 10:
        print(dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)].head())
    else:
        print(dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)])
    
    if index:
        outlier_index = dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)].index
        return outlier_index

In [141]:
def remove_outlier(dataframe, col_name):
    low, up = outlier_thresholds(dataframe, col_name)
    
    df_without_outliers = dataframe[~((dataframe[col_name] < low) | (dataframe[col_name] > up))]
    return df_without_outliers

In [142]:
def repalce_with_thresholds(dataframe, col_name):
    low, up = outlier_thresholds(dataframe, col_name)
    
    dataframe.loc[dataframe[col_name] < low, col_name] = low
    dataframe.loc[dataframe[col_name] > up, col_name] = up
    return dataframe

In [143]:
outlier_thresholds(dataframe, 'preg')

(-6.5, 13.5)

In [144]:
grab_outliers(dataframe, 'preg')

     preg  plas  pres  skin  test  mass   pedi  age  class
88     15   136    70    32   110  37.1  0.153   43      1
159    17   163    72    41   114  40.9  0.817   47      1
298    14   100    78    25   184  36.6  0.412   46      1
455    14   175    62    30     0  33.6  0.212   38      1

Index([88, 159, 298, 455], dtype='int64')

In [145]:
remove_outlier(dataframe, 'preg')

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[764 rows x 9 columns]

In [146]:
repalce_with_thresholds(dataframe, 'preg')

C:\Users\dell\AppData\Local\Temp\ipykernel_7768\676445800.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-6.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[dataframe[col_name] < low, col_name] = low

     preg  plas  pres  skin  test  mass   pedi  age  class
0     6.0   148    72    35     0  33.6  0.627   50      1
1     1.0    85    66    29     0  26.6  0.351   31      0
2     8.0   183    64     0     0  23.3  0.672   32      1
3     1.0    89    66    23    94  28.1  0.167   21      0
4     0.0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763  10.0   101    76    48   180  32.9  0.171   63      0
764   2.0   122    70    27     0  36.8  0.340   27      0
765   5.0   121    72    23   112  26.2  0.245   30      0
766   1.0   126    60     0     0  30.1  0.349   47      1
767   1.0    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [147]:
grab_outliers(dataframe, 'preg')

Empty DataFrame
Columns: [preg, plas, pres, skin, test, mass, pedi, age, class]
Index: []

Index([], dtype='int64')