In [26]:
import pandas as pd
import numpy as np
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'] 
dataframe = pd.read_csv(r"C:\Users\dell\Desktop\Python\week4\day1\pima-indians-diabetes.csv", names=names) 
array = dataframe.values

In [27]:
dataframe

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [28]:
def outlier_thresholds(dataframe, col_name, q1=0.25, q3=0.75):
    Q1 = dataframe[col_name].quantile(q1)
    Q3 = dataframe[col_name].quantile(q3)
    IQR = Q3 - Q1
    up_limit = Q3 + 1.5*IQR
    low_limit = Q1 - 1.5*IQR
    return low_limit, up_limit

In [29]:
def grab_outliers(dataframe, col_name, index=True):
    low, up = outlier_thresholds(dataframe, col_name)
    
    if dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)].shape[0] > 10:
        print(dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)].head())
    else:
        print(dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)])
    
    if index:
        outlier_index = dataframe[(dataframe[col_name] < low) | (dataframe[col_name] > up)].index
        return outlier_index

In [30]:
def remove_outlier(dataframe, col_name):
    low, up = outlier_thresholds(dataframe, col_name)
    
    df_without_outliers = dataframe[~((dataframe[col_name] < low) | (dataframe[col_name] > up))]
    return df_without_outliers

In [31]:
def repalce_with_thresholds(dataframe, col_name):
    low, up = outlier_thresholds(dataframe, col_name)
    
    dataframe.loc[dataframe[col_name] < low, col_name] = low
    dataframe.loc[dataframe[col_name] > up, col_name] = up
    return dataframe

In [32]:
outlier_thresholds(dataframe, 'preg')

(-6.5, 13.5)

In [33]:
grab_outliers(dataframe, 'preg')

     preg  plas  pres  skin  test  mass   pedi  age  class
88     15   136    70    32   110  37.1  0.153   43      1
159    17   163    72    41   114  40.9  0.817   47      1
298    14   100    78    25   184  36.6  0.412   46      1
455    14   175    62    30     0  33.6  0.212   38      1

Index([88, 159, 298, 455], dtype='int64')

In [34]:
remove_outlier(dataframe, 'preg')

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[764 rows x 9 columns]

In [35]:
repalce_with_thresholds(dataframe, 'preg')

C:\Users\dell\AppData\Local\Temp\ipykernel_9844\676445800.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-6.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataframe.loc[dataframe[col_name] < low, col_name] = low

     preg  plas  pres  skin  test  mass   pedi  age  class
0     6.0   148    72    35     0  33.6  0.627   50      1
1     1.0    85    66    29     0  26.6  0.351   31      0
2     8.0   183    64     0     0  23.3  0.672   32      1
3     1.0    89    66    23    94  28.1  0.167   21      0
4     0.0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763  10.0   101    76    48   180  32.9  0.171   63      0
764   2.0   122    70    27     0  36.8  0.340   27      0
765   5.0   121    72    23   112  26.2  0.245   30      0
766   1.0   126    60     0     0  30.1  0.349   47      1
767   1.0    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [36]:
grab_outliers(dataframe, 'preg')

Empty DataFrame
Columns: [preg, plas, pres, skin, test, mass, pedi, age, class]
Index: []

Index([], dtype='int64')

### Task


Outlier-ların silinməsi qərarı bir neçə amildən asılıdır və ümumiyyətlə verilən problemlə və verilənlərin analizi məqsədi ilə əlaqədardır. Məsələn:

Analiz Növü: Əgər regresyon kimi model qurmaq istəyirsinizsə, outlier-lar modelin düzgünlüyünə mənfi təsir göstərə bilər və silinməsi tövsiyə oluna bilər.
Verilənlərin Təbiəti: Outlier-lar bəzən məlumatların təbiətinin bir hissəsi ola bilər. Məsələn, maliyyə analizində bəzi böyük məbləğlər normal ola bilər.
Biznes Məqsədi: Əgər biznes məqsədi üçün məlumatları analiz edirsinizsə və outlier-lar analiz nəticələrini əhəmiyyətli dərəcədə dəyişdirirsə, onların silinməsi uyğun ola bilər.
Sizin verdiyiniz nümunə məlumat dəsti kiçikdir və sadəcə iki sütunlu məlumatlardan ibarətdir. Gəlin hər üç metodun nəticələrini təhlil edək və qərar verək:

In [3]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.neighbors import LocalOutlierFactor

# Məlumat dəstini yaradın (və ya yükləyin)
data = {
    'feature1': [10, 12, 13, 15, 10, 100, 12, 11, 12, 13],
    'feature2': [100, 150, 200, 250, 300, 1000, 150, 200, 250, 300]
}
df = pd.DataFrame(data)

# 1. Z-score metodu ilə outlier-ları müəyyən etmək
z_scores = np.abs(stats.zscore(df))
z_threshold = 3  # z-score həddi, ümumiyyətlə 3 qəbul edilir
df_zscore = df[(z_scores < z_threshold).all(axis=1)]

# 2. IQR metodu ilə outlier-ları müəyyən etmək
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
iqr_threshold = 1.5  # IQR həddi, ümumiyyətlə 1.5 qəbul edilir
df_iqr = df[~((df < (Q1 - iqr_threshold * IQR)) | (df > (Q3 + iqr_threshold * IQR))).any(axis=1)]

# 3. LOF metodu ilə outlier-ları müəyyən etmək
lof = LocalOutlierFactor(n_neighbors=5, contamination=0.1)
lof_labels = lof.fit_predict(df)
df_lof = df[lof_labels == 1]

print("Orijinal məlumat dəsti:")
print(df)
print("\nZ-score metodu ilə outlier-ların çıxarılması:")
print(df_zscore)
print("\nIQR metodu ilə outlier-ların çıxarılması:")
print(df_iqr)
print("\nLOF metodu ilə outlier-ların çıxarılması:")
print(df_lof)

Orijinal məlumat dəsti:
   feature1  feature2
0        10       100
1        12       150
2        13       200
3        15       250
4        10       300
5       100      1000
6        12       150
7        11       200
8        12       250
9        13       300

Z-score metodu ilə outlier-ların çıxarılması:
   feature1  feature2
0        10       100
1        12       150
2        13       200
3        15       250
4        10       300
5       100      1000
6        12       150
7        11       200
8        12       250
9        13       300

IQR metodu ilə outlier-ların çıxarılması:
   feature1  feature2
0        10       100
1        12       150
2        13       200
3        15       250
4        10       300
6        12       150
7        11       200
8        12       250
9        13       300

LOF metodu ilə outlier-ların çıxarılması:
   feature1  feature2
0        10       100
1        12       150
2        13       200
3        15       250
4        10       300
6        12       150
7        11       200
8        12       250
9        13       300

Nəticələrin Təhlili
Z-score Metodu:

Outlier-ların çıxarılması nəticəsində bəzi sətirlər çıxarılacaq.
Nəticələri təhlil edin və yalnız z-score həddini keçən dəyərləri çıxarın.
IQR Metodu:

IQR metodunda müəyyən edilmiş həddlər daxilində olmayan dəyərlər çıxarılacaq.
Bu metod z-score metoduna nisbətən daha konservativdir və məlumat dəstinin təbiətinə daha uyğun ola bilər.
LOF Metodu:

LOF metodu ilə təcrid olunmuş (outlier) nöqtələr çıxarılacaq.
LOF metodu daha mürəkkəbdir və çox zaman daha düzgün nəticələr verir, lakin qismən daha çətindir.
Qərar
Hər üç metoddan əldə olunan nəticələri müqayisə etdikdən sonra, məlumatların təbiətinə və analiz məqsədinə görə hansı metodun ən uyğun olduğuna qərar verin. Əgər məlumatların əhəmiyyətli bir hissəsi outlier olaraq müəyyən edilirsə və bu outlier-lar analiz nəticələrini əhəmiyyətli dərəcədə dəyişdirsə, onları çıxarmaq məqsədəuyğun ola bilər.

Əgər bu addımları atdıqdan sonra daha spesifik bir qərar verə bilmirsinizsə, məlumat dəstinizi daha yaxşı başa düşmək və uyğun addımlar atmaq üçün məlumatın təhlili və vizualizasiyası üzərində daha çox çalışmaq faydalı ola bilər.

In [4]:
z_scores

   feature1  feature2
0  0.408505  0.776319
1  0.332856  0.572024
2  0.295032  0.367730
3  0.219382  0.163436
4  0.408505  0.040859
5  2.995705  2.900981
6  0.332856  0.572024
7  0.370681  0.367730
8  0.332856  0.163436
9  0.295032  0.040859