In [41]:
import pandas as pd
import numpy as np

In [42]:
df=pd.DataFrame(data=np.arange(40, 91))
df

     0
0   40
1   41
2   42
3   43
4   44
5   45
6   46
7   47
8   48
9   49
10  50
11  51
12  52
13  53
14  54
15  55
16  56
17  57
18  58
19  59
20  60
21  61
22  62
23  63
24  64
25  65
26  66
27  67
28  68
29  69
30  70
31  71
32  72
33  73
34  74
35  75
36  76
37  77
38  78
39  79
40  80
41  81
42  82
43  83
44  84
45  85
46  86
47  87
48  88
49  89
50  90

In [51]:
df['a']=pd.cut(df[0], bins=[39, 50, 90], labels=[1,2])

In [52]:
df

     0  a
0   40  1
1   41  1
2   42  1
3   43  1
4   44  1
5   45  1
6   46  1
7   47  1
8   48  1
9   49  1
10  50  1
11  51  2
12  52  2
13  53  2
14  54  2
15  55  2
16  56  2
17  57  2
18  58  2
19  59  2
20  60  2
21  61  2
22  62  2
23  63  2
24  64  2
25  65  2
26  66  2
27  67  2
28  68  2
29  69  2
30  70  2
31  71  2
32  72  2
33  73  2
34  74  2
35  75  2
36  76  2
37  77  2
38  78  2
39  79  2
40  80  2
41  81  2
42  82  2
43  83  2
44  84  2
45  85  2
46  86  2
47  87  2
48  88  2
49  89  2
50  90  2

In [2]:
import pandas as pd

# Məlumatların daxil edilməsi
data_100 = {'sütun_adı': ['Bakı', 'Gəncə', 'Bakı', 'Şəki', 'Mingəçevir']}
df_100 = pd.DataFrame(data_100)

# Məlumatları rəqəmlərlə əvəz etmək üçün factorize metodundan istifadə edirik
df_100['rəqəmsal_sütun'] = pd.factorize(df_100['sütun_adı'])[0]

# Rəqəmsal dəyərləri müəyyən aralıqlara bölmək üçün cut metodundan istifadə edirik
# Bu halda, 5 şəhəri 3 kategoriyaya bölürük
df_100['kategorik_sütun'] = pd.cut(df_100['rəqəmsal_sütun'], bins=5, labels=[1,2,3,4,5])

print(df_100)

    sütun_adı  rəqəmsal_sütun kategorik_sütun
0        Bakı               0               1
1       Gəncə               1               2
2        Bakı               0               1
3        Şəki               2               4
4  Mingəçevir               3               5